body {
	padding-top: 5rem;
	margin-left: 20%;
	margin-right: 20%;
	border-style:groove ;
	border-color: black;
	border-radius: 3%;
}

img{
	display: block;
	height: 200px;
	width: 200px;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 50%;
	padding-top: 5%;
}

.text{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	color:white;
	text-decoration: solid;
	margin-bottom: -10px;
}

.info{
	background-color: darkgreen;
	text-align: center;
	line-height: 0.85;
	border-radius: 5%;
	padding-bottom: 5%;
}

.button{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}

p{
	margin-left: 25%;
	margin-right: auto;
	width: 50%; 
}

.numbers{
	margin-bottom: 30px;
	padding-left: 20%;
	padding-right: 20%;
}

.nums{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	display: flex;
	margin-bottom: -30px;
}

.txt{
	margin-right: auto;
	margin-left: auto;
	width: 50px;
}

.mumbs{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	display: flex;
}

.sub{
	margin-right: auto;
	margin-left: auto;
	width: 50px;
}

.button{
	background-color: greenyellow;
	color:white;
	padding: 10px 50px;
	font-size: medium;
	border-radius: 15%;
}


